.form__input {
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 16px 20px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    max-width: 375px;
}

.form__input::placeholder {
    color:inherit;
}

.form__button {
    font-size: 18px;
}

.form {
    display: flex;
    gap: 10px;

    @media (--media-md) {
        gap: 20px;
    }

    @media (--media-lg) {
        gap: 40px;
    }
}