.info-item {
    max-width: 367px;
    text-align: center;
    margin: 0 auto;

    @media (--media-lg) {
        margin: 0;
    }
}

.info-item + .info-item {
    margin-top: 30px;

    @media (--media-lg) {
        margin-top: 0;
    }
}

.info-item__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    display: inline-block;
}

.info-item__title {
    font-size: 18px;
    color: #414141;
}

.info-item__text {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 300;
    margin-top: 14px;
    
}