:root{
    --col-1: #ffffff;   
    --col-2: #000000;
    --main-font: "Proxima Nova Light", sans-serif;
    --bold-font: "Proxima Nova Semibold", sans-serif;
}
/* grid */
@custom-media --extra-small (width <575px);
@custom-media --small (width >=576px);
@custom-media --medium (width >=768px);
@custom-media --large (width >=992px);
@custom-media --extra-large (width >=1200px);
@custom-media --extra-extra-large (width >=1400px);
