<section class="banner">
    <div class="banner__bg-wrapper">
        <img src="./img/background.jpg" alt="image" class="banner__bg">
    </div>
    <div class="banner__wrapper">
        <h1 class="banner__title">
            We are here to help you out
        </h1>
        <p class="banner__text">
            Very professional and highly customizable sketch template with lots 
            of custom pages and useful features
        </p>
        <form class="banner__form form" action="">
            <input type="text" class="banner__input form__input" placeholder="Your name">
            <input type="email" class="banner__input form__input" placeholder="Your email">
            <button type="button" class="banner__button form__button main-button main-button_gradient">
                Get started
            </button>
        </form>
    </div>
</section>