<section class="description">
    <div class="container">
        <div class="description__wrapper">
            <div class="info-item">
                <span class="info-item__icon">
                    <img inline src="./src/img/lamp.svg">
                </span>
                <h3 class="info-item__title">
                    Start your marketing
                </h3>
                <p class="info-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="info-item">
                <span class="info-item__icon">
                    <img inline src="./src/img/lamp.svg">
                </span>
                <h3 class="info-item__title">
                    Start your marketing
                </h3>
                <p class="info-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="info-item">
                <span class="info-item__icon">
                    <img inline src="./src/img/lamp.svg">
                </span>
                <h3 class="info-item__title">
                    Start your marketing
                </h3>
                <p class="info-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
        </div>
    </div>
</section>