<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        about us
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        services
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        faq
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        blog
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        contact us
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    Copyright © Sepra 2018 All Right Resereved
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        Privacy Policy   
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        Terms Of Services
                    </a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">
                        Security
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
<script src="<%= srcJs %>"></script>
</body>

</html>