<section class="plans">
    <div class="container">
        <h2 class="plans__title">
            Choose your suitable plans
        </h2>
        <p class="plans__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div class="plans__wrapper">
            <div class="plans__item plans__item_bg">
                <h4 class="plans__item-title">
                    Free
                </h4>
                <div class="plans__item-price-wrapper">
                    <span class="plans__item-price">
                        0$
                    </span>
                    <span class="plans__item-range">
                        /mo
                    </span>
                </div>
                <p class="plans__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <button class="plans__item-button main-button main-button_gradient">
                    Get Started
                </button>
            </div>
            <div class="plans__item">
                <h4 class="plans__item-title">
                    Premium
                </h4>
                <div class="plans__item-price-wrapper">
                    <span class="plans__item-price">
                        342$
                    </span>
                    <span class="plans__item-range">
                        /mo
                    </span>
                </div>
                <p class="plans__item-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
                <button class="plans__item-button main-button main-button_light">
                    Get Started
                </button>
            </div>
        </div>
    </div>
</section>