<% var data = {
    srcCss: htmlWebpackPlugin.files.chunks.main.css,
    srcJs: htmlWebpackPlugin.files.chunks.main.entry,
    title: 'Главная страница'
}; %>
<%= _.template(require('./../templates/header.html'))(data) %>

<main>
    <%= _.template(require('./../templates/promo.html'))(data) %>  
    <%= _.template(require('./../templates/description.html'))(data) %>  
    <%= _.template(require('./../templates/plans.html'))(data) %>  
</main>

<%= _.template(require('./../templates/footer.html'))(data) %>